# Ignore Mac System Files
.DS_store

# Ignore node modules folder
node_modules

# Ignore files relared to API Keys
.env
credentials.cfg

# Ignore SASS config files
.sass-cache

# Ignore Folders
venv
.idea/
.ipynb_checkpoints/
__pycache__/
